img {
  height:18rem;
  border-radius:12px;
}

.card {
  border-radius:12px;
  position: relative;
  margin: 15px;
}

::ng-deep .progress
{
  height: 4rem !important;
  background-color:transparent !important;
}

#progress-circle {
  position: absolute;
  top: 15.5rem;
  left:2rem;
}
