
.container{
  background-color:rgb(3,37,65);
  color: white;
  font-weight: bolder;
}

#header--title{
  font-size:2rem;
}
.navbar {
  background-color:rgb(3,37,65);
}

a {
  color: white;
}
.dropdown-item {
  color: #000;
}

.search-bar {
  width: 30rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.item-nav {
  font-size: 1.3rem;
}

button {
  font-weight: bold;
  font-size:1rem;
}
